root { 
    display: block;
}

body{
    background-color: #00A8FF;
    margin: 0px;
    padding: 0px;
    background-image: url(http://www.kenexa.com/Portals/_default/Skins/KenexaCorporate/images/pattern-header-blue.gif);
    font-family: 'Open Sans', sans-serif;
}
#banner{
    background-image: url(../imagenes/pixel_banerr.png);
    width: 100%;
    height: 74px;
    background-repeat: repeat-x;
}
#banner_titulo{
    background-image: url(../imagenes/tituloo.png);
    width: 336px;
    height: 43px;
    z-index: 100;
    margin-top: 15px;
    position: absolute;  
    margin-left: 10%;
}
#contenido{
    background-color: #fff;
    height: 530px;
    width: 65%;
    margin-left: 10%;
    margin-top: -3px;
    background-image: url(http://www.kenexa.com/Portals/_default/Skins/KenexaCorporate/images/pattern-header-blue.gif);

}
#contenido_error{
    background-color: red;
    color: #FFFFFF;
    font-size: xx-large;
    display: inline;
}
#barra_busqueda{
    padding-top: 10%;
    padding-left: 30%;
}
#pagina{
    background-color: #FFFFFF;
    color: #000;
    height: 600px;
    width: 100%;
    position: absolute;
    background-image: url(http://www.kenexa.com/Portals/_default/Skins/KenexaCorporate/images/pattern-header-blue.gif);
}
#logo{
    background-image: url(../imagenes/logoo.png);
    width: 150px;
    height: 151px;
    float: right;
    position: absolute;
    margin-left: 65%;
    background-repeat: no-repeat;

}
#foto{
    background-image: url(../imagenes/foto_sombra.png);
    width: 159px;
    height: 153px;
    margin-top: 5%;
    margin-left: 5%;
    background-repeat: no-repeat;
    float:left;
}
#resultado{
    float:left;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    height: 60%;
    background-color: yellow;
}
fieldset{
    border-width:4px;
    border-style:solid;
    border-color: royalblue;
}
.compo_fielset label{
    display: block;
    float: left;
    width: 150px;
}
.compo_fielset input{
    width: 200px;
}




/*
            menu principal de la pagina
*/

#menu{
    float: left;
    z-index: 400;
    margin-top: -3px;
    width: 100%;
    background-color: rgb(23, 104, 206);
    border-bottom-width: 2px;
    border-bottom-color: rgb(53, 141, 190);
    border-bottom-style: solid;
}
#button {
    margin-left: 10%;
    background: #2586d7;
    padding: 0;
    margin-top: 0;
}
#button li {
    display: inline;
}
#button li a {
    font-size:16px;
    text-decoration: none;
    float:left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2175bc;
    color: #fff;
}
#button li a:hover {
    background-color: #2586d7;
    margin-top:-2px;
    padding-bottom:12px;
}

#enviar_formulario{
    float: right;
}
.error{
    display: inline-table;
    color: white;
    background-color: red;
    float: initial;
    position: absolute;
    border-style: solid;
    border-width: 2px;
}


#timer{
    font-size: x-large;
    color: #FFFFFF;
    background-color: #01CFFF;
}
#buscar_usuario{
    color: white;
}
#barra_mapa_del_sitio{
    width: 100%;
    height: 31px;
    background-image: url(http://www.kenexa.com/Portals/_default/Skins/KenexaCorporate/images/green-grad-twitter.png);
}
#mapa_del_sitio{
    margin-top: -16px;
    width: 100%;
    height: 300px;
    background-image: url(http://www.kenexa.com/Portals/_default/Skins/KenexaCorporate/images/darkdenim3.png);
}
#footer{
    height: 31px;
    width: 100%;
    background-color: #fff;
}
#texto_footer{
    font-size: small;
    margin-left: 10%;
}


#links_mapa_sitio {
    margin-left: 10%;
    background: rgba(255, 255, 255, 0);
    padding: 0;
    margin-top: 0;
}
#links_mapa_sitio li {
    display: inline;
}
#links_mapa_sitio li a {
    text-decoration: none;
    float:left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0);;
    color: #fff;
}
#links_mapa_sitio li a:hover {
    background-color: rgba(255, 255, 255, 0);;
    padding-bottom:12px;
}